body
{
background-color: #7dfb39;
}

h1
{
    color:rgba(0, 106, 255, 0.977);
    background-color: rgb(240, 255, 220);
}

#draw
{
    float:right;
}

canvas
{
    border:5px solid white;
    border-radius:20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}
@keyframes example {

    from {box-shadow: 1px 1px 38px grey;}
    to {box-shadow: 1px 1px 38px white;}
  
  }
  
  
  p
    {
      padding-top:10px;
      font-size:25px;
      
    }
  
  
